body {
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554731A;

}

.main-text {
    margin-left: 120px;
    margin-right: 20px;
}

.main-headtext {
    color: #272727;
    font-family: lato;
    font-size: 63px;
    /* padding-left: 200px; */

}

.text-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

}

.banner-image {

    width: 635px;
    height: 800px;
    margin-top: 50px;
    padding-right: 20px;
}

.btn {
    padding: 20px 40px;
    border-radius: 8px;
    background: #dd4e6d;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
}

.featured-text {
    text-align: center;
    padding-top: 55px;
    width: ;
}

.feature-main-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}

.featured-img {
    margin: 40px 50px;
    display: flex;
    align-items: self-end;
    text-align: center;
    justify-content: center;
    gap: 20px;


}

.featured-color1 {

    padding-top: 70px;
    padding-left: 47px;
    padding-right: 47px;
    background: rgba(187, 47, 115, 0.15);
    border-radius: 300px 300px 0px 0px;

}

.featured-color2 {
    padding: 70px 23px;
    background: rgba(36, 173, 180, 0.15);
    ;
    border-radius: 300px 300px 0px 0px;

}

.featured-color3 {
    padding-top: 40px;
    padding-left: 47px;
    padding-right: 47px;
    background: rgba(76, 118, 35, 0.15);
    border-radius: 300px 300px 0px 0px;

}

.link-f {
    margin-top: 500px;

}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 20px;
    gap: 25px;
    /* width: 1000px; */
    /* height: 320px; */
 
}
.support-1{
    align-items: center;
    text-align: center;
}

.deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e048690d;
    height: 600px;

}

.deal-text {
    text-align: center;
    padding-left: ;
}

.deal-text {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}

.deal-content {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

}

.insta-text {
    text-align: center;

}

.insta-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    padding-top: 10px;
}

.insta-content {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    padding-bottom: 35px;
    margin-top: 24px;
}

.insta-image {
    display: flex;
    justify-content: center;
    gap: 15px;
}



span {
    color: #E55473;
}



.footer-header {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}

footer {
    text-align: center;
    background-color: #111010;
    color: white;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-top: 150px;
    margin-top: 50px;

}

.input {

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-photo {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    width: 1438px;
    height: 449px;
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.input-image {
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    align-items: center;
}

.input-head {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;

}

.input-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

}

.box {

    padding: 23px 200px;

}

.btn-s {

    border-radius: 5px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;

}