body {
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554731A;

}

.main-text {
    margin-left: 120px;
    margin-right: 20px;
}

.main-headtext {
    color: #272727;
    font-family: lato;
    font-size: 65px;
    /* padding-left: 200px; */

}

.text-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

}

.banner-image {

    width: 635px;
    height: 800px;
    margin-top: 50px;
    padding-right: 20px;
}

.btn {
    padding: 20px 40px;
    border-radius: 8px;
    background: #dd4e6d;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
}

.insta-text {
    text-align: center;

}

.insta-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    padding-top: 10px;
}

.insta-content {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    padding-bottom: 5px;
}

.insta-image {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer {
    background-image: url('../images/travels.webp');
    width: 1440px;
    height: 449px;
}

span {
    color: #E55473;
}

.footer-main{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-top: 50px;
}
.footer-header {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}
footer{
    text-align: center;
    background-color: #111010;
    width: 0 auto;
    color:white;
    width: 1922px;
    height: 449px;
    
}